/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
*/

body {
	margin-bottom: 80px;
}

.spanLoginRow {
	margin-top: 20px;
}

.some {
	margin-left: 5px;
}

.logo-nav {
	padding: 10px;
}

.img-responsive {
	min-height: 320px;
	min-width: 1056px;
	width: 100%;
}

.mainSearchBar {
	max-width: 400px;
	margin: 0 auto;
}

.mainHeader {
	margin: 0px;
}